<% page_heading("Screening") %>

<div id="main">
  <div class="close-btn">
    <%= link_to "", question_2_path(val_1: @val_1), class:"close" %>
  </div>
   <div id="screening">
    <h2 class="major">Screening</h2>
    <h3>Fattor di stress per il bambino/a e la sua famiglia</h3>
    <%= form_with url: address_categories_path, local: true do %>
      <% @question_categories.each do |category| %>
        <div class="">
          <h4><%= category.name %></h4>
          <% category.questions.sort_by { |q| q.sort_order }.each do |question| %>
            <div class="select">
              <%= check_box_tag "question[#{question.id}]", question.valuation_factor %>
              <%= label_tag("question[#{question.id}]", question.question_text) %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= submit_tag("Continua", class:"btn") %>
    <% end %>
   </div>
</div>
