<% page_heading("Screening") %>

<div id="main">
  <div id="quicklinks-overlay">
    <%= render 'layouts/language_switcher' %>
  </div>
  <div class="close-btn">
    <%= link_to "", question_2_path(val_1: @val_1), class:"close" %>
  </div>
   <div id="screening">
    <h2 class="major"><%= t("screening.title") %></h2>
    <h3><%= t("screening.subtitle_stress") %></h3>
    <%= form_with url: evaluations_path, local: true do %>
      <% @negative_factors.each do |category| %>
        <div class="card">
          <div class="card-header">
            <h4><%= category.name %></h4>
          </div>
          <div class="card-body">
            <% category.questions.sort_by { |q| q.sort_order }.each do |question| %>
              <div class="select">
                <%= check_box_tag "question[#{question.id}]", question.valuation_factor %>
                <%= label_tag("question[#{question.id}]", question.question_text) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <h3 class="subtitle"><%= t("screening.subtitle_protectiv") %></h3>
      <% @positive_factors.each do |category| %>
        <div class="card">
          <div class="card-body">
            <% category.questions.sort_by { |q| q.sort_order }.each do |question| %>
              <div class="select">
                <%= check_box_tag "question[#{question.id}]", question.valuation_factor %>
                <%= label_tag("question[#{question.id}]", question.question_text) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6">
          <%= submit_tag(t("continue"), class:"btn btn-default") %>
        </div>
      </div>
    <% end %>
   </div>
</div>
