<% page_heading(t("about_us.head_title")) %>
<div id="main">
  <div class="close-btn">
    <%= link_to "", root_path, class:"close" %>
  </div>
  <div id="about">
    <h2 class="major"><%= t("about_us.title") %></h2>
    <h3><%= t("about_us.head_title") %></h3>
    <%= t("about_us.paragraph_1_html") %>
    <h3 class="subtitle"><%= t("about_us.subtitle_1") %></h3>
    <%= t("about_us.paragraph_2_html") %>
    <h3 class="subtitle"><%= t("about_us.subtitle_3") %></h3>
    <%= t("about_us.paragraph_3_html") %>
    <h3 class="subtitle"><%= t("about_us.subtitle_4") %></h3>
    <%= t("about_us.paragraph_4_html") %>
    <h3 class="subtitle"><%= t("about_us.subtitle_5") %></h3>
    <%= t("about_us.paragraph_5_html") %>
    <hr>
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Associazione Progetto Genitori</h6>
        <div>
          <p class="card-text">via Soldini 25</p>
          <p class="card-text">6830 Chiasso</p>
        </div>
        <hr class="sm">
        <div>
          <%= link_to "tel:0041793753791", target: "_blank" do %>
            <i class="fas fa-phone-alt"></i>+41 79 375 37 91
          <% end %>
          <%= link_to "mailto:info@pat-ti.ch", target: "_blank" do %>
            <i class="fas fa-envelope"></i>info@pat-ti.ch
          <% end %>
          <%= link_to "https://www.pat-ti.ch", target: "_blank" do %>
            <i class="fas fa-link"></i>https://www.pat-ti.ch
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
