<%= render "layouts/quicklinks" %>
<div id="menu">
  <%= render 'partials/logo' %>
  <div class="content">
    <div class="inner">
      <h1 class="major"><%= t("home.title") %></h1>
      <h2><%= t("home.subtitle") %></h2>
      <p></p>
    </div>
  </div>
  <div id="controls" class="nav">
    <div class="control-link">
      <%= link_to t("home.questionnaire"), question_1_path %>
    </div>
    <div class="control-link">
      <%= link_to t("home.about_us"), about_path %>
    </div>
  </div>
</div>
