<% page_heading(t("question_1.head_title")) %>

<%= render 'layouts/quicklinks' %>

<div id="menu">
  <%= render 'partials/logo' %>
  <div class="content">
    <div class="inner">
      <h2><%= t("question_1.question") %></h1>
    </div>
  </div>
  <div id="controls" class="rating">
    <div class="control-link">
      <%= link_to t("question_1.very_low"), question_2_path(val_1: 1) %>
    </div>
    <div class="control-link">
      <%= link_to t("question_1.low"), question_2_path(val_1: 2) %>
    </div>
    <div class="control-link">
      <%= link_to t("question_1.rather_high"), question_2_path(val_1: 3) %>
    </div>
    <div class="control-link">
      <%= link_to t("question_1.high"), question_2_path(val_1: 4) %>
    </div>
    <div class="control-link">
      <%= link_to t("question_1.very_high"), question_2_path(val_1: 5) %>
    </div>
  </div>
</div>
