<% page_heading("High Risk") %>

<div id="main">
  <div class="close-btn">
    <%= link_to "", screening_path, class:"close" %>
  </div>
  <div id="addresses">
    <h2 class="major"><%= t("addresses.high_risk") %></h2>
    <p><%= t("addresses.high_risk_description") %></p>
    <% @addresses.each do |address| %>
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted"><%= address.name %></h6>
          <div>
            <% if address.extra %>
              <p class="card-text"><%= address.extra %></p>
            <% end %>
            <p class="card-text"><%= address.street %></p>
            <p class="card-text"><%= address.postcode %> <%= address.city %></p>
          </div>
          <hr class="sm">
          <div>
            <a href="tel:<%= address.phone %>"><i class="fas fa-phone-alt"></i> <%= address.phone %></a>
            <a href="mailto:<%= address.email %>"><i class="fas fa-envelope"></i> <%= address.email %></a>
            <a href="<%= address.website %>"  target="_blank" ><i class="fas fa-link"></i> www.address.website</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to t("addresses.all_contacts"), address_categories_path, class:"btn" %>
</div>
