
<% page_heading(t("addresses.head_title")) %>

<%= render 'layouts/quicklinks' %>

<div id="menu">
  <%= render 'partials/logo' %>

  <div id="controls" class="nav">
    <div class="control-link <%= @selected_ovk %>">
      <%= link_to address_categories_path(organization: "ovk") do %>
        <div class="svg-logo"></div>
      <% end %>
    </div>
    <div class="control-link <%= @selected_ti %>">
        <%= link_to address_categories_path(organization: "ti") do %>
          <%= image_tag("logo-pat.png", alt:"Logo PAT - Ticion", class: "logo-link") %>
          <span class="logo-link-text">PAT Ticino</span>
        <% end %>
    </div>
  </div>

  <div class="content">
    <div class="inner">
      <% if @selected_organization == "ovk" %>
        <h1><%= t("prevention.ovk.primary.title") %></h1>
        <h2><%= t("prevention.ovk.primary.subtitle_1_html") %></h2>
        </br>
        <h2><%= t("prevention.ovk.primary.subtitle_2_html", link: (link_to t("prevention.go_to_secondary_prevention"), medium_risk_path(organization: @selected_organization)))%></h2>
      <% else %>
        <h1><%= t("prevention.pat_ti.primary.title") %></h1>
        <h2><%= t("prevention.pat_ti.primary.subtitle_1_html") %></h2>
        </br>
        <h2><%= t("prevention.pat_ti.primary.subtitle_2_html", link: (link_to t("prevention.go_to_secondary_prevention"), medium_risk_path(organization: @selected_organization)))%></h2>
        <div class="address-card">
          <h2 class="uppercase">
            <%= link_to "Ticinoperbambini.ch", "https://ticinoperbambini.ch/Sportello-famiglie", target: "_blank" %>
          </h2>
          <div>
            <%= t("prevention.pat_ti.primary.description_1_html") %>
          </div>
          <div>
            <%= link_to "https://ticinoperbambini.ch/Sportello-famiglie", target: "_blank" do %>
              <i class="fas fa-link"></i>https://ticinoperbambini.ch/Sportello-famiglie
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="controls" class="nav">
      <div class="control-link">
        <%= link_to t("addresses.medium_risk"), medium_risk_path(organization: @selected_organization) %>
      </div>
      <div class="control-link">
        <%= link_to t("addresses.high_risk"), high_risk_path(organization: @selected_organization) %>
      </div>
  </div>
</div>
