<% page_heading(t("addresses.head_title")) %>

<%= render 'layouts/quicklinks' %>

<div id="menu">
  <%= render 'partials/logo' %>
  <div class="content">
    <div class="inner">
      <h1><%= t("addresses.contatti") %></h1>
    </div>
  </div>
  <div id="controls">
    <% @address_categories.each do |category| %>
      <div class="control-link">
        <%= link_to category.name, address_category_path(category_id: category.id) %>
      </div>
    <% end %>
  </div>

  <div class="content">
    <div class="inner">
      <%= link_to medium_risk_path do %>
        <h2><%= t("addresses.medium_risk") %></h2>
      <% end %>
      <%= link_to medium_risk_path do %>
        <h2><%= t("addresses.high_risk") %></h2>
      <% end %>
    </div>
  </div>
</div>
