<% page_heading(t("addresses.head_title")) %>

<%= render 'layouts/quicklinks' %>

<div id="menu">
  <%= render 'partials/logo' %>
  <div class="content">
    <div class="inner">
      <h1><%= t("addresses.contatti") %></h1>

      <div class="address-card">
        <h2>Levatrici</h2>
        <div>
          <a href="http://levatrici-ti.ch/"  target="_blank" ><i class="fas fa-link"></i>http://levatrici-ti.ch/</a>
        </div>
      </div>

      <div class="address-card">
        <h2>Forum Genitorialità</h2>
        <div>
          <p>È un progetto che raggruppa enti e associazioni della Svizzera italiana che offrono un sostegno mirato alle esigenze delle famiglie e delle future famiglie.</p>
        </div>
        <div>
          <a href="https://www.genitorialita.ch/it/"  target="_blank" ><i class="fas fa-link"></i>https://www.genitorialita.ch/</a>
        </div>
      </div>
    </div>
  </div>

  <div id="controls" class="nav">
      <div class="control-link">
        <%= link_to t("addresses.medium_risk"), medium_risk_path %>
      </div>
      <div class="control-link">
        <%= link_to t("addresses.high_risk"), high_risk_path %>
      </div>
  </div>
</div>
