<% page_heading(t("addresses.head_title")) %>

<%= render 'layouts/quicklinks' %>

<div id="menu">
  <%= render 'partials/logo' %>
  <div class="content">
    <div class="inner">
      <h1><%= t("addresses.contatti") %></h1>
      <h2><%= t("addresses.subtitle_1") %></h2>
      <h2><%= t("addresses.subtitle_2") %></h2>

      <div class="address-card">
        <h2 class="uppercase"><a href="https://ticinoperbambini.ch/Sportello-famiglie" target="_blank">Ticinoperbambini.ch</a></h2>
        <div>
          <p>È una guida per le offerte ed attività in Ticino per famiglie e bambini, compreso sportello-famiglie.</p>
        </div>
        <div>
          <a href="https://ticinoperbambini.ch/Sportello-famiglie"  target="_blank"><i class="fas fa-link"></i>https://ticinoperbambini.ch/Sportello-famiglie</a>
        </div>
      </div>

    </div>
  </div>

  <div id="controls" class="nav">
      <div class="control-link">
        <%= link_to t("addresses.medium_risk"), medium_risk_path %>
      </div>
      <div class="control-link">
        <%= link_to t("addresses.high_risk"), high_risk_path %>
      </div>
  </div>
</div>
