<% page_heading("Medium Risk") %>

<div id="main">
  <div class="close-btn">
    <%= link_to "", screening_path, class:"close" %>
  </div>
  <div id="addresses">
    <h2 class="major">Medium Risk<%#= @address_category.name %></h2>
    <p>
      <%#= @address_category.name %>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ullam voluptatibus, corrupti neque nihil? Aspernatur ad cumque culpa deserunt velit provident, facere corporis iste odio delectus molestias, porro cupiditate minus!</p>
    <% @addresses.each do |address| %>
      <div class="card">
        <p><%= address.name %></p>
        <% if address.extra %>
          <%= address.extra %>
        <% end %>
        <p><%= address.street %></p>
        <p><%= address.postcode %> <%= address.city %></p>
        <a href="tel:<%= address.phone %>"><%= address.phone %></a>
        <%= mail_to address.email,  address.email %>
        <%= link_to address.website,  address.website, target:"_blank" %>
      </div>
      <hr>
    <% end %>
  </div>
  <%= link_to "All Addresses", address_categories_path, class:"btn" %>
</div>
