
<% page_heading(t("addresses.head_title")) %>

<%= render 'layouts/quicklinks' %>

<div id="menu">
  <%= render 'partials/logo' %>

  <div id="controls" class="nav">
    <div class="control-link <%= @selected_ovk %>">
      <%= link_to preventions_path(org: "ovk") do %>
        <div class="svg-logo-ovk"></div>
      <% end %>
    </div>
    <div class="control-link <%= @selected_ti %>">
      <%= link_to preventions_path(org: "ti") do %>
        <%= image_tag("logo-apg.png", alt:"Logo PAT Imparo con i genitori Ticino", class: "logo-link") %>
        <span class="logo-link-text">PAT Imparo con i genitori Ticino</span>
      <% end %>
    </div>
    <div class="control-link <%= @selected_zenso %>">
      <%= link_to preventions_path(org: "zenso") do %>
        <div class="svg-logo-zenso"></div>
      <% end %>
    </div>
  </div>

  <div class="content">
    <div class="inner">
      <% if @selected_organization == "ovk" %>
        <h1><%= t("prevention.ovk.primary.title") %></h1>
      <% else %>
        <h1><%= t("prevention.pat_ti.primary.title") %></h1>
      <% end %>
    </div>
  </div>

  <div id="controls" class="nav">
    <div class="control-link">
      <%= link_to t("addresses.low_risk"), low_risk_path(org: @selected_organization) %>
    </div>
    <div class="control-link">
      <%= link_to t("addresses.medium_risk"), medium_risk_path(org: @selected_organization) %>
    </div>
    <div class="control-link">
      <%= link_to t("addresses.high_risk"), high_risk_path(org: @selected_organization) %>
    </div>
  </div>
</div>
