<% page_heading(t("addresses.medium_risk_title")) %>

<div id="main">
  <div class="header-logo">
    <div class="logo-ovk <%= @selected_ovk %>">
        <div class="svg-logo"></div>
        <%= image_tag("logo-pat-de.jpeg", alt:"Logo PAT - OVK", class: "logo-link-de") %>
    </div>
    <div class="logo-ti <%= @selected_ti %>">
      <%= image_tag("logo-pat.png", alt:"Logo PAT - Ticino", class: "logo-link") %>
      <span class="logo-link-text">PAT Ticino</span>
    </div>
  </div>
  <div id="quicklinks-overlay">
    <%= render 'layouts/language_switcher' %>
  </div>
  <div class="close-btn">
    <%= link_to "", preventions_path(organization: @selected_organization), class:"close" %>
  </div>
  <div id="addresses">
    <h2 class="major"><%= t("addresses.medium_risk") %></h2>
    <% if @selected_organization == "ovk" %>
      <%= t("prevention.ovk.secondary.paragraph_1_html") %>
      <%= render 'preventions/ovk_medium_risk_addresses' %>
    <% else %>
      <%= t("prevention.pat_ti.secondary.paragraph_1_html", link: (link_to t("prevention.go_to_primary_prevention"), low_risk_path(organization: @selected_organization))) %>
      <%= render 'preventions/ticino_medium_risk_addresses' %>
    <% end %>

  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= link_to t("addresses.low_risk"), low_risk_path(organization: @selected_organization), class:"btn btn-default" %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= link_to t("addresses.high_risk"), high_risk_path(organization: @selected_organization), class:"btn btn-default" %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= link_to t("addresses.more_organizations"), preventions_path(organization: @selected_organization), class:"btn btn-small" %>
    </div>
  </div>
</div>
